<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="conflictBlockBegin"    value=">>>>> BEGIN OF CONFLICTED BLOCK >>>>>" />
    <add key="conflictBlockSource"   value=">>>>> ORIGINAL VERSION          >>>>>" />
    <add key="conflictBlockChanged1" value=">>>>> MODIFIED VERSION 1        >>>>>" />
    <add key="conflictBlockChanged2" value=">>>>> MODIFIED VERSION 2        >>>>>" />
    <add key="conflictBlockEnd"      value=">>>>> END OF CONFLICTED BLOCK   >>>>>" />
  </appSettings>
</configuration>
